
/* ====================================================== */
/* ===================== CONTAINERS ===================== */
/* ====================================================== */

* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box; 
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* background-image: url(images/background.jpg);
  background-size: cover; */ 
  /* background-repeat: no-repeat; */
  /* background-size: auto; */
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.6), rgba(136, 136, 206, 0.4) );
  background-image: linear-gradient( 115deg, rgba(68, 68, 228, 0.6), rgba(23, 23, 170, 0.8) );
  background-image: linear-gradient( 115deg, rgba(241, 177, 38, 0.6), rgba(23, 23, 170, 0.8) );
  background-image: linear-gradient( 90deg, rgba(241, 177, 38, 0.85), rgba(23, 23, 170, 0.85) );
  max-height: 96vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 60px;
  text-align: center; 
}

.all {
  display: flex;
  flex-direction: row;
}

.input { 
  /* border: 0.4rem outset #722879;  
  border: 0.4rem inset #8f8d8d;   */
  width: 60vw; 
  height: 30vh;
  /* position: relative; 
  left: 50vw; 
  transform: translateX(-50%);   */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  text-align: center; 
  /* overflow-x: scroll; */
}
/* 
#horario-inicial,
#tarefa,
#duracao,
.button {
}
  */

#duracao { 
  margin-top: 20px;
} 

.button {
  border: 0.1rem inset #8f8d8d; 
  text-align: center; 
  display: block;
  margin: 20px auto 0;
  height: 45px; 
  width: 35%;
  background-color: rgba(255, 255, 255, 0.651);
  /* padding: 8px 5px; */
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

p {
  font-size: 1.4rem;
}

input {
  /* padding: 8px 10px; */
  background-color: rgba(255, 255, 255, 0.219);
  display: block;
  margin: 0 auto;
  height: 45px;
  width: 35%;
  font-size: 1rem;
  text-align: center; 
}

.output {   
}

.button,
input::placeholder {
  color: black;
  font-size: 1rem; 
}
 

.tamara {
  font-weight: bold;
  font-style: italic;
}

.tamarap {
  white-space: nowrap;
}

.tarefa-item {
  margin-left: 20px;
  font-size: 1.3rem; 
} 

.is-dragging {
  font-weight: bolder; 
}

.tarefas { 
  font-size: 1.3rem; 
} 

/* ====================================================== */
/* ==================== MEDIA QUERIES =================== */
/* ====================================================== */


@media (max-width: 600px) {
 

}
