
/* ====================================================== */
/* ======================== GERAL ======================= */
/* ====================================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
}

body {  
  background-color: rgba(254,235,232,255);
  background-image: url(images/background2\.jpg);
  background-size: cover;   
  background-repeat: no-repeat;  
  max-height: 96vh; 
}

.nowrap {
  white-space: nowrap;
}

/* ====================================================== */
/* ====================== HEADER ======================== */
/* ====================================================== */


h1 {
  margin: 15vh 0 40px; 
} 
  
p:not(.tarefa-item) {
  margin: 10px 0;
  font-size: 1.4rem;   
} 

.descricao { 
  font-weight: bolder; 
}

/* ====================================================== */
/* ======================= INPUT ======================== */
/* ====================================================== */


form {
  padding-top: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
   
.form-nome-duracao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

label {
  margin: 10px 10px;
  font-size: 1.1rem;  
  display: inline-block;
}

input {
  padding: 8px 8px;
  background-color: rgba(255, 255, 255, 0.219);  
  height: 30px; 
  font-size: 1rem; 
  border: 1px solid black;
} 
 
input::placeholder {
  color: rgb(65, 63, 63);
  font-size: 1rem;  
}
 
.btn-enviar { 
  display: inline-block;
  border: 1px solid black; 
  height: 30px;
  background-color: rgba(245,130,145,255); 
  color: white;
  cursor: pointer;
  margin-left: 15px;
  font-size: 1rem;  
  font-weight: bolder;
  letter-spacing: 0.2rem; 
  padding: 0 5px;
  transition: 0.3s ease-in-out;
}

.btn-enviar:hover {
  color: black;
  background-color: rgb(247, 90, 111);
  transition: 0.3s ease-in-out;
}
   


/* ====================================================== */
/* ====================== OUTPUT ======================== */
/* ====================================================== */

 
.tarefas { 
  margin: 50px auto 0; 
  font-size: 1.3rem;   
  width: 40vw;
  min-height: 300px;
  padding-bottom: 40px;
} 

.titulos {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 2vw 10vw 20vw 10vw; 
  font-weight: bolder;
  justify-content: center;
}

.titulos .espacamento {
  font-size: 1.2rem;  
}
  
.tarefa-item { 
  font-size: 1.3rem; 
  cursor: move; 
  display: grid;
  grid-template-columns: 2vw 10vw 20vw 10vw; 
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  margin-top: -1px;
  justify-content: center; 
}

.animacao-sobe {
  animation: sobe 1s;
}

@keyframes sobe {
  from { 
    transform: translateY(150px);
  }
} 

.lixeiras {  
  padding-left: 30px;
  cursor: pointer;
  z-index: 10;
}
 
.tarefa-selecionada {
  color:  rgb(247, 90, 111);
  font-weight: bolder; 
}
    
.tarefa-atual { 
  background-color: rgba(245,130,145);
}
  

/* ====================================================== */
/* ==================== MEDIA QUERIES =================== */
/* ====================================================== */


@media (max-width: 1000px) {
 
  .tarefas { 
    width: 80vw;
  }

  .titulos,  
  .tarefa-item  { 
    grid-template-columns: 2vw 15vw 35vw 15vw; 
  }
    
  .lixeiras {  
    padding-left: 0;
    padding-right: 30px;
    cursor: pointer;
  }

  #horario-inicial {
    width: 60vw;
  }

  #nome-tarefa {
    width: 40vw;
  }

  #duracao {
    width: 20vw;
  }
  
  .form-nome-duracao { 
    flex-direction: column;
    gap: 15px; 
  }

  
  /* body {  
    background-image: url(images/background\.jpg);
    background-size: cover;  
    max-height: 96vh; 
  } */

}
 

@media (max-width: 550px) {

  .form-nome-duracao { 
    flex-direction: column;
    gap: 15px; 
  }
  
  .nowrap {
    white-space: initial;
  }
  
  .titulos, .tarefa-item {
    display: flex;
    flex-direction: column;
  }

  .tarefas {
    display: flex;
    flex-direction: column;
  }

 

  .titulos, .tarefa-item {
    display: flex;
    flex-direction: column;
  }

  .tarefas {
    display: flex;
    flex-direction: column;
  }

  .tarefa-item { 
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  }


  /* .tarefa-item  { 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
  } */
}